#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #FFA500;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

#gameover img {
  margin: 2rem auto;
  height: 200px;
}
