#welcome {
    text-align: center;
    max-width: 500px;
}
  
#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}
  
#welcome p {
    color: #FFA500;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
  
#welcome img {
    margin-top: 0.5rem;
}
